@import '../themes.css';

.input-wrapper {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: var(--primary-font);
}

.input-field {
  width: calc(100% - 16px);
  border-radius: var(--radius);
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  font-size: var(--primary-font);
}

.input-field--invalid {
  background-color: #ffe5e5;
  border-color: #cc0000;
}