@import '../themes.css';
.custom-button {
  padding: 8px 16px;
  border-radius: var(--primary-radius);
  border: 1px solid var(--primary-border);
  background: var(--primary-bg);
  cursor: pointer;
  font-size: var(--primary-font);
  transition: background 0.2s;
  font-family: var(--font-family);
}

.custom-button:hover {
  background: var(--primary-hover-bg);
}

.custom-button-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.custom-button-label-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
