@import '../themes.css';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-children {
    padding: 16px;
    font-family: var(--font-family);
}

.modal-content {
  background: var(--modal-bg);
  border-radius: 8px;
    font-size: var(--primary-font);
  min-width: 320px;
  position: relative;
  box-shadow: 0 2px 16px rgba(0,0,0,0.15);
}

.modal-title {
  margin-top: 0;
  color: var(--modal-title-color);
  font-family: var(--font-family);
  background-color: var(--primary-bg);
  font-size: var(--primary-font);
  padding: 16px;
  border-top-left-radius: var(--primary-radius);
  border-top-right-radius: var(--primary-radius);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
