@import '../themes.css';

form {
    font-family: var(--font-family);
}

.set-password-modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);
  font-size: var(--primary-font);
}

.set-password-modal-error {
  color: #d32f2f;
  font-size: var(--primary-font);
  margin: 0;
}
